Final Project Group 4

In [2]:

!zenml init

Found existing ZenML repository at path '/workspaces/enterpriseai'.
⠋ Initializing ZenML repository at /workspaces/enterpriseai.
⠋ Initializing ZenML repository at /workspaces/enterpriseai.

In [2]:
import pandas as pd
import json
from pandas import json_normalize

In [3]:
movies = pd.read_csv("movie_dataset/movies_metadata.csv", low_memory=False)
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:
movies=movies.drop(columns=["adult", "homepage","imdb_id","video","spoken_languages","tagline","poster_path","original_title","belongs_to_collection","release_date"], errors='ignore')
movies.head()

,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,revenue,runtime,status,title,vote_average,vote_count
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",373554033.0,81.0,Released,Toy Story,7.7,5415.0
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",262797249.0,104.0,Released,Jumanji,6.9,2413.0
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",0.0,101.0,Released,Grumpier Old Men,6.5,92.0
3,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0
4,0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                45466 non-null  object
 1   genres                45466 non-null  object
 2   id                    45466 non-null  object
 3   original_language     45455 non-null  object
 4   overview              44512 non-null  object
 5   popularity            45461 non-null  object
 6   production_companies  45463 non-null  object
 7   production_countries  45463 non-null  object
 8   revenue               45460 non-null  float64
 9   runtime               45203 non-null  float64
 10  status                45379 non-null  object
 11  title                 45460 non-null  object
 12  vote_average          45460 non-null  float64
 13  vote_count            45460 non-null  float64
dtypes: float64(4), object(10)
memory usage: 4.9+ MB

In [7]:

print(movies.isna().sum())

budget                    0
genres                    0
id                        0
original_language        11
overview                954
popularity                5
production_companies      3
production_countries      3
revenue                   6
runtime                 263
status                   87
title                     6
vote_average              6
vote_count                6
dtype: int64

In [18]:
movies.head()

,budget,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,...,Romance,Science Fiction,Sentai Filmworks,TV Movie,Telescene Film Group Productions,The Cartel,Thriller,Vision View Entertainment,War,Western
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,...,0,0,0,0,0,0,0,0,0,0
1,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,...,0,0,0,0,0,0,0,0,0,0
2,0,15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,...,1,0,0,0,0,0,0,0,0,0
3,16000000,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,...,1,0,0,0,0,0,0,0,0,0
4,0,11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
import pandas as pd
from sklearn.preprocessing import MultiLabelBinarizer

def extract_genres(genres_series):
    """Extracts and transforms genres from a series of lists of dictionaries."""
    # Extract genres into a list of lists where each sublist contains genre names
    genres_list = genres_series.apply(lambda x: [genre['name'] for genre in eval(x)])
    return genres_list

def flatten_genres(genres_list):
    """Flatten the genre lists to a format suitable for one-hot encoding."""
    mlb = MultiLabelBinarizer()
    genres_encoded = mlb.fit_transform(genres_list)
    genres_df = pd.DataFrame(genres_encoded, columns=mlb.classes_)
    return genres_df

# Assuming 'movies' is your DataFrame and 'genres' is the column with the lists of dictionaries
genres_list = extract_genres(movies['genres'])
genres_df = flatten_genres(genres_list)

# Now, genres_df contains one-hot encoded features for genres that can be concatenated back to the original DataFrame
movies = pd.concat([movies.drop('genres', axis=1), genres_df], axis=1)

genres_df

,Action,Adventure,Animation,Aniplex,BROSTA TV,Carousel Productions,Comedy,Crime,Documentary,Drama,...,Romance,Science Fiction,Sentai Filmworks,TV Movie,Telescene Film Group Productions,The Cartel,Thriller,Vision View Entertainment,War,Western
0,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
45462,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
45463,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
45464,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45465,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
users = pd.read_csv("movie_dataset/ratings_small.csv", low_memory=False)
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  int64
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [23]:
users = pd.read_csv("movie_dataset/ratings_small.csv", low_memory=False)
users.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [9]:
print(movies['id'].dtype)
print(users['movieId'].dtype)

object
int64

In [11]:
movies = movies[pd.to_numeric(movies['id'], errors='coerce').notna()]

In [12]:
movies['id'] = movies['id'].astype(int)
users['movieId']=users["movieID"].astype(int)

KeyError: 'movieID'

In [13]:
combined_df = pd.merge(movies, users, left_on='id', right_on='movieId', how='left')
combined_df.head()

,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,revenue,runtime,status,title,vote_average,vote_count,userId,movieId,rating,timestamp
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",373554033.0,81.0,Released,Toy Story,7.7,5415.0,NaN,NaN,NaN,NaN
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",262797249.0,104.0,Released,Jumanji,6.9,2413.0,NaN,NaN,NaN,NaN
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",0.0,101.0,Released,Grumpier Old Men,6.5,92.0,NaN,NaN,NaN,NaN
3,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,NaN,NaN,NaN,NaN
4,0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,NaN,NaN,NaN,NaN

In [ ]:
print(combined_df.isna().sum())

budget                      0
genres                      0
id                          0
original_language          11
overview                 1070
popularity                  5
production_companies        3
production_countries        3
release_date              115
revenue                     6
runtime                   264
status                     87
title                       6
vote_average                6
vote_count                  6
userId                  42635
movieId                 42635
rating                  42635
timestamp               42635
dtype: int64